# Yelp Data Challenge - Data Preprocessing

## Dataset Introduction

The Challenge Dataset:

    4.1M reviews and 947K tips by 1M users for 144K businesses
    1.1M business attributes, e.g., hours, parking availability, ambience.
    Aggregated check-ins over time for each of the 125K businesses
    200,000 pictures from the included businesses

Cities:

    U.K.: Edinburgh
    Germany: Karlsruhe
    Canada: Montreal and Waterloo
    U.S.: Pittsburgh, Charlotte, Urbana-Champaign, Phoenix, Las Vegas, Madison, Cleveland

Files:

    yelp_academic_dataset_business.json
    yelp_academic_dataset_checkin.json
    yelp_academic_dataset_review.json
    yelp_academic_dataset_tip.json
    yelp_academic_dataset_user.json

Notes on the Dataset
    Each file is composed of a single object type, one json-object per-line.

## Read business and review data from json file and load to Pandas DataFrame

In [1]:
import json
import pandas as pd
import numpy as np

#### Business Data

In [2]:
with open('data/yelp_academic_dataset_business.json') as f:
    df_business = pd.DataFrame(json.loads(line) for line in f)

In [3]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144072 entries, 0 to 144071
Data columns (total 16 columns):
address         144072 non-null object
attributes      127162 non-null object
business_id     144072 non-null object
categories      143747 non-null object
city            144072 non-null object
hours           102464 non-null object
is_open         144072 non-null int64
latitude        144072 non-null float64
longitude       144072 non-null float64
name            144072 non-null object
neighborhood    144072 non-null object
postal_code     144072 non-null object
review_count    144072 non-null int64
stars           144072 non-null float64
state           144072 non-null object
type            144072 non-null object
dtypes: float64(3), int64(2), object(11)
memory usage: 17.6+ MB

In [7]:
df_business.head(2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,type
0,"227 E Baseline Rd, Ste J2","[BikeParking: True, BusinessAcceptsBitcoin: Fa...",0DI8Dt2PJp07XkVvIElIcQ,"[Tobacco Shops, Nightlife, Vape Shops, Shopping]",Tempe,"[Monday 11:0-21:0, Tuesday 11:0-21:0, Wednesda...",0,33.378214,-111.936102,Innovative Vapors,,85283,17,4.5,AZ,business
1,495 S Grand Central Pkwy,"[BusinessAcceptsBitcoin: False, BusinessAccept...",LTlCaCGZE14GuaUXUGbamg,"[Caterers, Grocery, Food, Event Planning & Ser...",Las Vegas,"[Monday 0:0-0:0, Tuesday 0:0-0:0, Wednesday 0:...",1,36.192284,-115.159272,Cut and Taste,,89106,9,5.0,NV,business

In [4]:
# save data as csv for further use
# df_business.to_csv('data/yelp_academic_dataset_business.csv', index = False, encoding = 'utf-8')

#### Checkin Data

In [ ]:
# with open(file_checkin, encoding = "utf8") as f:
#      df_checkin = pd.DataFrame(json.loads(line) for line in f)
# df_checkin.head(2)

#### Review Data

In [5]:
# we've transformed json file to csv by json2csv
df_review = pd.read_csv("data/yelp_academic_dataset_review.csv")

In [6]:
df_review.head(2)

,funny,user_id,review_id,text,business_id,stars,date,useful,type,cool
0,0,KpkOkG6RIf4Ra25Lhhxf1A,NxL8SIC5yqOdnlXCg18IBg,If you enjoy service by someone who is as comp...,2aFiy99vNLklCx3T_tGS9A,5,2011-10-10,0,review,0
1,0,bQ7fQq1otn9hKX-gXRsrgA,pXbbIgOXvLuTi_SPs1hQEQ,After being on the phone with Verizon Wireless...,2aFiy99vNLklCx3T_tGS9A,5,2010-12-29,1,review,0

In [8]:
# df_review.shape
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4153150 entries, 0 to 4153149
Data columns (total 10 columns):
funny          int64
user_id        object
review_id      object
text           object
business_id    object
stars          int64
date           object
useful         int64
type           object
cool           int64
dtypes: int64(4), object(6)
memory usage: 316.9+ MB

#### Tip Data

In [ ]:
# with open(file_tip, encoding = "utf8") as f:
#     df_tip = pd.DataFrame(json.loads(line) for line in f)
# df_tip.head(2)

#### User Data

In [ ]:
# with open(file_user, encoding = "utf8") as f:
#     df_user = pd.DataFrame(json.loads(line) for line in f)
# df_user.head(2)

In [ ]:
# df_user = pd.read_csv(file_user)
# df_user.head(6)

## Filter data by city and category

#### Create filters/masks

* create filters that selects business 
    * that are located in "Las Vegas"
    * that contains "Restaurants" in their category (You may need to filter null categories first)

In [16]:
# Create Pandas DataFrame filters
def business_LV_Res(df):
    lv_df = df[(df.city == "Las Vegas") & (df.categories.notnull())]
    lv_res_df = lv_df[lv_df.categories.apply(lambda x: 'Restaurants' in x)]
    return lv_res_df.reset_index(drop = True)

In [17]:
# Create filtered DataFrame
df_business_filter = business_LV_Res(df_business)

In [18]:
df_business_filter.head(3)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,type
0,4811 S Rainbow Blvd,"[Alcohol: full_bar, BusinessAcceptsCreditCards...",saWZO6hB4B8P-mIzS1--Xw,"[Persian/Iranian, Restaurants, Ethnic Food, Fo...",Las Vegas,None,0,36.101020,-115.244312,Kabob Palace,Spring Valley,89103,15,2.5,NV,business
1,"4972 S Maryland Pkwy, Ste 22","[Alcohol: none, Ambience: {'romantic': False, ...",hMh9XOwNQcu31NAOCqhAEw,"[Restaurants, Vegetarian, Indian]",Las Vegas,None,1,36.099142,-115.136192,Taste of India,Southeast,89119,33,3.5,NV,business
2,2053 Pama Ln,"[Ambience: {'romantic': False, 'intimate': Fal...",pmJqSsCfgbo3TxPWpQNLIw,"[American (New), Cafes, Restaurants]",Las Vegas,"[Wednesday 10:0-14:0, Thursday 10:0-14:0, Frid...",0,36.065839,-115.123944,Artisanal Foods Cafe,Southeast,89119,35,4.5,NV,business

#### Keep relevant columns

* only keep some useful columns
    * business_id
    * name
    * categories
    * stars

In [19]:
selected_features = [u'business_id', u'name', u'categories', u'stars']

In [20]:
# Make a DataFrame that contains only the abovementioned columns, and name it as df_selected_business
df_selected_business = df_business_filter[selected_features]

In [21]:
# Rename the column name "stars" to "bus_stars" to avoid naming conflicts with review dataset
df_selected_business.rename(columns = {"stars":"bus_stars"}, inplace = True)

G:\Anaconda2\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [22]:
# Inspect your DataFrame
df_selected_business.columns

Index([u'business_id', u'name', u'categories', u'bus_stars'], dtype='object')

In [23]:
df_selected_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5431 entries, 0 to 5430
Data columns (total 4 columns):
business_id    5431 non-null object
name           5431 non-null object
categories     5431 non-null object
bus_stars      5431 non-null float64
dtypes: float64(1), object(3)
memory usage: 169.8+ KB

#### Save results to csv files

In [24]:
# Save to ./data/selected_business.csv for your next task
df_selected_business.to_csv("data/selected_business.csv", index = False, encoding = 'utf-8')

In [25]:
# Try reload the csv file to check if everything works fine
# df_selected_business = pd.read_csv("data/selected_business.csv")

### Use the "business_id" column to filter review data

* We want to make a DataFrame that contain and only contain the reviews about the business entities we just obtained

#### Prepare dataframes to be joined, - on business_id

In [26]:
# Prepare the business dataframe and set index to column "business_id", and name it as df_left
df_left = df_selected_business.set_index("business_id")

In [29]:
# Prepare the review dataframe and set index to column "business_id", and name it as df_right
df_right = df_review.set_index("business_id")

#### Join! and reset index

In [30]:
# Join df_left and df_right. What type of join?
bus_join_rev_df = df_left.join(df_right, how = 'inner')

In [31]:
bus_join_rev_df.head(2)

,name,categories,bus_stars,funny,user_id,review_id,text,stars,date,useful,type,cool
business_id,,,,,,,,,,,,
--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,0XVzm4kVIAaH4eQAxWbhvw,nCqdz-NW64KazpxqnDr0sQ,I mainly went for the ceasar salad prepared ta...,1,2015-06-26,0,review,0
--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,1,5aFBj0emFzoXsUcKbDQZiA,pa4MASGD-2EFoR_rGDZILw,"""WOW!!!"" that's what she said... literally! lo...",5,2010-03-25,1,review,1

In [33]:
# reset the index 
bus_join_rev_df.reset_index(inplace = True)

#### We further filter data by date, e.g. keep comments from last 2 years

In [34]:
# Make a filter that selects date after 2015-01-20
df_final = bus_join_rev_df[(bus_join_rev_df.date > u'2015-01-20')]

In [36]:
df_final.reset_index(inplace = True, drop = True)

#### Take a glance at the final dataset

In [38]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347619 entries, 0 to 347618
Data columns (total 13 columns):
business_id    347619 non-null object
name           347619 non-null object
categories     347619 non-null object
bus_stars      347619 non-null float64
funny          347619 non-null int64
user_id        347619 non-null object
review_id      347619 non-null object
text           347619 non-null object
stars          347619 non-null int64
date           347619 non-null object
useful         347619 non-null int64
type           347619 non-null object
cool           347619 non-null int64
dtypes: float64(1), int64(4), object(8)
memory usage: 34.5+ MB

In [37]:
import matplotlib.pyplot as plt

% matplotlib inline

In [46]:
group = bus_join_rev_df.groupby("business_id").agg({"user_id": "count", 
                                            "bus_stars": "mean", 
                                            "stars": "mean"})

In [53]:
group.columns

Index([u'user_id', u'bus_stars', u'stars'], dtype='object')

In [68]:
group.sort_values(by = ['user_id','stars','bus_stars'], ascending = [False,False,False])

                        user_id  bus_stars     stars
business_id
4JNXUYY8wbaaDmk3BPzlWw     6414        4.0  4.113969
RESDUcs7fIiihp38-d6_6g     5715        4.0  3.788451
K7lWdNUhCbcnEvI0NhGewg     5216        3.5  3.716449
cYwJA2A6I12KNkm2rtXd5g     5116        4.0  3.878812
DkYS3arLOhA8si5uUEmHOw     4655        4.5  4.266810
hihud--QRriCYZw1zZvW4g     4120        4.5  4.671602
eoHdUeQDNgQ6WYEnP2aiRw     3911        3.0  3.050626
f4x1YBxkLrZg652xt2KR5g     3881        4.0  3.880186
2weQS-RnoOBhb1KsHKyoSQ     3676        3.5  3.641186
ujHiaprwCQ5ewziu0Vi9rw     3482        3.5  3.463240
KskYqH1Bi7Z_61pH6Om8pg     3458        4.0  4.222961
rcaPajgKOJC2vo_l3xa42A     3292        4.0  3.975091
iCQpiavjjPzJ5_3gPD5Ebg     3258        4.0  4.123696
El4FC8jcawUVgw_0EIcbaQ     3016        3.0  3.053382
g8OnV26ywJlZpezdBnOWUQ     2835        4.0  3.789418
XZbuPXdyA0ZtTu3AzqtQhg     2771        4.0  3.988091
7sPNbCx7vGAaH7SbNPZ6oA     2735        4.0  4.065814
OETh78qcgDltvHULowwhJg     2700        4.0  4.024815
P7pxQFqr7yBKMMI2J51udw     2474        4.0  3.850849
JDZ6_yycNQFTpUZzLIKHUg     2316        4.5  4.533679
Cni2l-VKG_pdospJ6xliXQ     2313        4.0  3.842629
3kdSl5mo9dWC4clrQjEDGg     2303        4.5  4.465914
XXW_OFaYQkkGOGniujZFHg     2260        4.0  3.939823
yfxDa8RFOvJPQh0rNtakHA     2247        3.5  3.382733
NvKNe9DnQavC9GstglcBJQ     2218        4.0  3.878720
YJ8ljUhLsz6CtT_2ORNFmg     2111        3.5  3.269067
QJatAcxYgK1Zp9BRZMAx7g     2091        4.0  3.919177
HhVmDybpU7L50Kb5A0jXTg     2067        3.5  3.479923
ECOkEVUodMLUxvI0PMI4gQ     2056        3.0  3.103599
fL-b760btOaGa85OJ9ut3w     1996        4.5  4.420341
...                         ...        ...       ...
3Fr9RZ8Hfz1iWk51C2RMWg        3        2.0  2.000000
4srfPk1s8nlm1YusyDUbjg        3        2.0  2.000000
BIwjYT9nqbkF7kbzne-tmQ        3        2.0  2.000000
CcMi0EM4KFqa_4hVe1oN3g        3        2.0  2.000000
H99aadKfIQ3RZ6joDn7FuQ        3        2.0  2.000000
KPsu_1Q9XYRKWs_ZBTtlTg        3        2.0  2.000000
fZM-vnMe00UbFbbo03uSDQ        3        2.0  2.000000
kYtk8YSBtSuwXcvfoRMyoA        3        2.0  2.000000
ltELYeBXsbkQPlH16e-mOg        3        2.0  2.000000
ytYtMuk0URV6tk9m0zhDoA        3        2.0  2.000000
zcgArjObRzQRH6MaqTPDmQ        3        2.0  2.000000
zqQ9yqNh0EtCIXATGlBS0A        3        2.0  2.000000
8menaxER6kxM_Lyi5tBmSA        3        1.5  1.666667
NlpsCKu8FiGo2BvZSZdpFg        3        1.5  1.666667
QP2c6C_xk6nSiLgaVuq2hQ        3        1.5  1.666667
Ziqzfvpp2cpZAu0OwjiD5w        3        1.5  1.666667
_t7g5RusswFMlAe01aoj4Q        3        1.5  1.666667
arCvIfuSjFqqe7-wbo96nQ        3        1.5  1.666667
f_vIr9vzQv0USejCvcawcg        3        1.5  1.666667
u12EUBQJoPDtyPQyKa7zTw        3        1.5  1.666667
vJIuDBdu01vCA8y1fwR1OQ        3        1.5  1.666667
wRHGn5Hc6Oizlappi3SmMQ        3        1.5  1.666667
UN_48kF4j4jjHQXLbQhaZw        3        1.5  1.333333
YIUcqm086eWtNgZeB39_Ww        3        1.5  1.333333
o_PJyAnngdzxpC5WDyqtyA        3        1.5  1.333333
45IHzSJj49HJn32G3j6H_A        3        1.0  1.000000
M7ZuMAutAtvplANHiOz_ug        3        1.0  1.000000
W3h2jT0S-0986_B-ETFKmA        3        1.0  1.000000
i8K4qY1VA13eWRQ_zbmuTw        3        1.0  1.000000
l_eFv9Q9Q8RBLqfJJXi9ug        3        1.0  1.000000

[5431 rows x 3 columns]

## Save your preprocessed dataset to csv file

In [69]:
# Save to ./data/last_2_years_restaurant_reviews.csv for your next task
df_final.to_csv("data/last_2_years_restaurant_reviews.csv", index = False, encoding = 'utf-8')